<style>
    .formWidth{
        max-width: 595px;
    }
</style>

<div class="formWidth m-auto">
    {{ form_start(form)}}

        {{ form_row(form.prix) }}
        {{ form_row(form.annee_fabrication) }}
        {{ form_row(form.kilometrage) }}
        <hr>
        <fieldset>
                <h4 class="text-center mb-3">Caracterisque du véhicule</h4>
                <div class="d-flex justify-content-around">
                        {{ form_row(fromCaract.carburant) }}
                        {{ form_row(fromCaract.nombrePorte) }}
                        {{ form_row(fromCaract.boiteVitesse) }}
                </div>
        </fieldset>
        <hr>
        <fieldset class="text-center mb-3">
                <h4>Option du véhicule</h4>

                {{ form_row(formOption.gps) }}
                {{ form_row(formOption.radarRecule) }}
                {{ form_row(formOption.climatisation) }}

        </fieldset>
        <hr>
                {% if app.request.attributes.get('_route') == 'usedCar.update' %}
                <div>
                        <h4 class="text-center mb-3">images</h4>
                        <div class="mb-3 d-flex justify-content-around flex-wrap">
                                {% dump(usedCarImg.getLstImage) %}
                                {% for img in usedCarImg.getLstImage %}

                                        <div class="d-flex flex-column mb-3">
                                                <img src="{{ asset('image_voiture_occassion/mini/250X250_'~img.getPathImage) }}">
                                                <a href="" data-delet data-token ="{{ csrf_token('delect'~img.id) }}">supprimeé</a>
                                        </div>
                                {% endfor %}
                        </div>
                </div>
                {% endif %}

            {{ form_row(form.lstImage) }}

        <hr>

        {{ form_row(form.submit, {'label': bouton_label|default('Ajouter')} ) }}


    {{ form_end(form) }}
</div>