<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href= {{ path('home') }}>Garage</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ service ?? "" }}" aria-current="page" href={{ path('service') }}>Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ usedCar ?? "" }} " href={{ path('usedCar') }}>Nos Voiture Occassion </a>
                </li>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('admin_avis') }}">Administration</a>
            <a class="btn btn-outline-danger my-2 my-sm-0" href={{ path('connection') }}>Connection</a>
        </div>
    </div>
</nav>